/*
!/.gitignore
!/.github/

!/.config/
/.config/*
!/.config/eww/
!/.config/hypr/
!/.config/swaylock/
!/.config/kitty/
!/.config/nvim/
!/.config/ranger/
!/.config/waybar/
!/.config/fuzzel/
!/.condarc
!/.zshrc
!/.pip/

