/*
!/.gitignore
!/.github/
!/.Xresources
!/.condarc
!/.zshrc
!/.pip/

!/.config/
/.config/*
!/.config/eww/
!/.config/hypr/
!/.config/swaylock/
!/.config/kitty/
!/.config/nvim/
!/.config/ranger/
!/.config/waybar/
!/.config/neofetch/
!/.config/fuzzel/
!/.config/*-flags.conf

